<!DOCTYPE html>

<html>
    <head>
        <title>Demo: TODO</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Employee Register</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    </head>


    <main role="main" class="container extra-bottom">
        <center>
            <h1 class="mt-5">List of MLB Players in the 2021 Season</h1>
        </center>
    </main>

<div class="card card-body">
        <center>
            <h1 class="mt-5">Click here to get Team and Player Recommendations for MLB Fantasy Baseball</h1>
        </center>
    
            <br>
            <br>
    
    
            <form action = "recommendations"  method = "post" autocomplete="off">
    
    
                <button class="btn btn-primary btn-block">
                    Click here
                </button>
            
            </form>
    
      
</div>
 

<div class="card card-body">
    <center>
        <h1 class="mt-5">Search for a Player</h1>
    </center>

        <br>
        <br>


        <form action = "searchPlayer"  method = "post" autocomplete="off">


            <div class="form-group">
                <input type="text" class="form-control" name="PlayerName" placeholder="Enter a player's name" autofill = off>
            </div>
            <button class="btn btn-primary btn-block">
                Search
            </button>
        
        </form>


    
  
</div>



<div class="card card-body">
    <center>
    <h1 class="mt-5">Add a Player</h1>
    </center> 
    <br>
    <br>
    <form action="{{url_for('create')}}" method="POST" autofill = off>
      <div class="form-group">
        <input type="text" class="form-control" name="PlayerName" placeholder="Player Name" autofill = off>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="TeamName" placeholder="Team Name" autofill = off>
      </div>
      <button class="btn btn-primary btn-block">
        Add Player
      </button>
    </form>
</div>
   
    <table class="table table-borderless">
        <tbody>

    <!--Todo Table-->
    <div class="container table-responsive">          
    <table class="table">
        <thead>
        <tr> 
            <th class="PlayerName"> Player Name</th>
            <th class="TeamName">Team Name</th>
            <th class="update">Edit</th>
            <th class="update">Remove</th>
        </tr>
        </thead>

        <tbody>
        {% for player in Players %}
            <tr>
                <td>{{player.PlayerName}}</td>
                <td>{{player.TeamName}}</td>
                
                <td>
                    <a href="/edit/{{player.PlayerName}}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                </td>
                <td> 
                    <form action="/delete/{{player.PlayerName}}" method="post" class="d-inline">
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>

</html>